google_api_key = {GOOGLE API KEY}
google_client_id = {GOOGLE CLIENT ID}
google_client_secret = {GOOGLE CLIENT SECRET}
google_redirect_uri = {GOOGLE REDIRECT URI}
google_calendar_id = {GOOGLE CALENDER ID}
